@use './variables.scss';

@keyframes expand {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes expandReverse {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

nav {
    width: 100%;
    height: 8.5vh;

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-bottom: 1px solid rgba($color: variables.$grayLight, $alpha: 0.5);

    position: absolute;
    top: 0;


    h1 {
        text-decoration: none;
        font-family: variables.$secondaryFont;
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0px;
        a {
            color: #fff;
            text-decoration: none;
        }
    }

    ul {
        display: flex;
        align-items: center;
        float: right;
        height: 100%;
        position: relative;
        gap: 22px;

        a {
            @include variables.center(100%, 100%)
        }

        li {
            text-transform: uppercase;
            color: #fff;
            font-family: variables.$primaryFont;
            font-size: 13px;
            font-weight: 600;

            transition: all 0.3s;
            opacity: 0.75;

            text-align: center;
            display: flex;
            justify-content: center;

            position: relative;
            height: 100%;
            margin-top: 5px;

            letter-spacing: 2px;

            &::before {
                content: '';
                position: absolute;
                top: -3px;

                height: 4px;
            }

            &.leave {
                &::before {
                    animation: expandReverse;
                    animation-duration: 0.4s;
                    width: 0;
                }
            }

            &.active {
                opacity: 1;

                &::before {
                    animation: expand;
                    animation-duration: 0.4s;
                    width: 100%;
                }
            }

            &.Mercury {
                &::before {
                    background-color: hsl(196,83%,93%);
                }
            }
            &.Venus {
                &::before {
                    background-color: hsl(39,88%,73%);
                }
            }
            &.Earth {
                &::before {
                    background-color: hsl(238,99%,66%);
                }
            }
            &.Mars {
                &::before {
                    background-color: hsl(12,100%,64%);
                }
            }
            &.Jupiter {
                &::before {
                    background-color: hsl(27,75%,70%);
                }
            }
            &.Saturn {
                &::before {
                    background-color: hsl(40,96%,70%);
                }
            }
            &.Uranus {
                &::before {
                    background-color: hsl(168,82%,67%);
                }
            }
            &.Neptune {
                &::before {
                    background-color: hsl(222,95%,63%);
                }
            }
        }
    }
}